/* TODO: Distribute fonts locally */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@keyframes load {
  from {
    opacity: 0;
    transform: scale(1.2);
    filter: blur(16px);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
    filter: blur(0);
  }
}

body {
  width: 100%;
  height: 100vh;

  margin: 0;

  background-color: #333;

  overflow: hidden;

  color: white;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 50%);
}

.tl {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.tr {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.bl {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.br {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.time, .date {
  font-family: 'Montserrat', sans-serif;

  text-shadow: .075em .075em black;
  text-transform: uppercase;

  margin: 0;
}

.time {
  font-size: 4rem;
}

.date {
  font-size: 1.5rem;
  margin-top: 8px;
}

.bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  object-fit: cover;

  transform-origin: center;

  opacity: 0;
}

.load {
  animation: load 500ms ease;
  animation-fill-mode: forwards;
}