.config {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: .85rem;

  margin-top: 8px;
  gap: 8px;

  color: rgba(white, 60%);

  user-select: none;

  & > div {
    display: flex;
    justify-content: flex-end;
    gap: 6px;

    & > a {
      color: rgba(white, 60%);

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    & > a.selected {
      color: white;
    }
  }

  .reroll {
    margin-top: 12px;
    transition: color 150ms ease;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}