.history {
  padding: 16px;
  margin-top: 12px;

  box-sizing: border-box;
  border: 1px solid rgba(white, 0.5);
  background-color: rgba(white, 0.2);
  backdrop-filter: blur(16px);

  border-radius: 8px;

  & > .cards-container {
    display: flex;
    gap: 10px;
    bottom: 0;

    width: 100%;
    // Images are 192x108
    height: 108px;

    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    & > .card {
      position: relative;
      width: 192px;
      height: inherit;

      &:hover {
        cursor: pointer;
        user-select: none;

        .card-cover {
          opacity: 1;
        }
      }

      & > img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center;
      }

      .card-cover {
        transition: all 100ms ease;
        opacity: 0;

        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(black, 0.5);

        z-index: 100;

        & > svg {
          filter: drop-shadow(0 0 2px rgba(black, 0.6));
        }
      }
    }
  }
}
