.history {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(white, 0.2);
  backdrop-filter: blur(16px);

  // isVisible = false
  max-height: 0;
  padding: 0 16px;
  margin-top: 0;
  overflow: hidden;
  transition: all 400ms ease;

  // isVisible = true
  &.visible {
    max-height: 200px;
    padding: 16px;
    margin-top: 12px;
    border: 1px solid rgba(white, 0.5);
  }

  & > .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    bottom: 0;

    width: 100%;
    height: 120px;

    overflow-x: scroll;
    overflow-y: hidden;

    // scrollbar-color: white transparent;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    & > .card {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      // Images are 192x108
      width: 192px;
      height: 108px;

      transition: transform 100ms ease;

      &:hover {
        cursor: pointer;
        user-select: none;

        transform: scale(0.98);

        .card-cover {
          opacity: 1;
        }
      }

      &.pinned {
        cursor: default;

        .card-cover {
          opacity: 1;
          border: 2px solid var(--primary);
        }
      }

      & > img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center;
      }

      .card-cover {
        transition: opacity 100ms ease;
        opacity: 0;

        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(black, 0.5);

        z-index: 100;

        & > svg {
          filter: drop-shadow(0 0 2px rgba(black, 0.6));
        }
      }
    }
  }
}
